*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 80vh;
}

li{
    padding-top: 5px;
    font-weight: bold;
    border: 1px gray solid;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    justify-content: center;
    background-color: #f7f7f7;
    margin: auto;
    overflow: hidden;
}

.icon{
    display: block;
    background-image: url('0-sprite.png');
    background-repeat: no-repeat;
    width: 280px;
    height: 370px;
    z-index: -100000;
}

.i-css {
    background-position: center;
}

.i-js {
    background-position: right;
}



